<app-header></app-header>

<section class="home">
  <div class="container">
    <div class="home-content">
      <h1 class="main-title">Architecture Designed for Life.</h1>
      <p class="subtitle">Where Creativity, Sustainability, and Innovation Merge to Shape Tomorrow's World through Timeless Design Excellence and Inspired Spaces Crafted for Today and Beyond</p>
      <div class="cta-container">
        <button class="cta-button">Explore Projects</button>
      </div>
    </div>
  </div>
</section>
