form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 550px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input, select {
  width: 95%;
  height: 25px; /* reduced from 35px */
  padding: 5px; /* reduced from 10px */
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: #f00;
  font-size: 12px;
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}