@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer; 
}

.logo img {
    margin-right: 10px;
}

.main_list {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navlinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center; 
    gap: 30px;
}

.navlinks li {
    margin: 0 15px;
}

.navlinks li a {
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
}

.navlinks li a:hover {
    color: #46c942;
}

.nav-right {
    display: flex;
    align-items: right;
}

.explore-btn {
    background-color: #46c942;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.explore-btn:hover {
    background-color: #46c942;
}

.profile-icon {
    color: #333333;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.profile-icon:hover {
    color: #46c942;;
}

.navTrigger {
    display: none;
    cursor: pointer;
}

.navTrigger i {
    background-color: #333333;
    border-radius: 2px;
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .navTrigger {
        display: block;
    }

    .main_list {
        display: none;
        width: 100%;
        order: 3;
    }

    .main_list.show_list {
        display: block;
    }

    .navlinks {
        flex-direction: column;
        align-items: center;
    }

    .navlinks li {
        margin: 15px 0;
    }

    .nav-right {
        order: 2;
    }

    .explore-btn {
        margin-right: 10px;
    }
}

.home {
    width: 100%;
    height: 16vh;
    background-position: center top;
    background-size: cover;
}