<app-header></app-header>

<app-carousel [images]="images" [services]="services"></app-carousel>

<section class="home">
  <div class="container">
    <div class="home-content">
      <h1 class="main-title">Arrienda tu finca de manera fácil y rápida</h1>
      <p class="subtitle">Encuentra el lugar perfecto para tus escapadas, disfruta de la naturaleza y relájate sin complicaciones. Simplificamos el proceso para que puedas empezar a disfrutar cuanto antes.</p>
      <div class="cta-container">
        <button class="cta-button" (click)="irBuscar()">
          Explorar Propiedades
        </button>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
