<app-header></app-header>

  <h1 class="titulo-propiedades">Mis Propiedades</h1>

  <div class="propiedades">
    <mat-card *ngFor="let propiedad of propiedades" class="tarjeta">
      <mat-card-header>
        <mat-card-title><strong>Precio:</strong>${{ propiedad.valorNoche }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Dirección:</strong> {{ propiedad.ciudad }}</p>
        <p><strong>Área:</strong> {{ propiedad.area }} m²</p>
        <p><strong>Descripción:</strong> {{ propiedad.descripcion }}</p>
      </mat-card-content>
    </mat-card>
    <div *ngIf="propiedades.length === 0">No se encontraron propiedades.</div>
  </div>

