.lista-alquileres {
    max-width: 550px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .alquiler-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .alquiler-item strong {
    color: #333;
  }
  
  .mensaje {
    text-align: center;
    font-weight: bold;
  }
  