<app-header></app-header>

<div class="lista-alquileres">
    <h2>Mis Alquileres</h2>
    <div *ngIf="alquileres.length > 0; else sinAlquileres">
      <div *ngFor="let alquiler of alquileres" class="alquiler-item">
        <div>
          <strong>Propiedad:</strong> {{ alquiler.propiedad.ciudad }}
        </div>
        <div>
          <strong>Fecha de Inicio:</strong> {{ alquiler.fechaInicio | date:'shortDate' }}
        </div>
        <div>
          <strong>Fecha de Fin:</strong> {{ alquiler.fechaFin | date:'shortDate' }}
        </div>
        <div>
          <strong>Estado:</strong> {{ alquiler.estado }}
        </div>
        <div *ngIf="alquiler.comentarios">
          <strong>Comentarios:</strong> {{ alquiler.comentarios }}
        </div>
      </div>
    </div>
  
    <ng-template #sinAlquileres>
      <p>No tienes alquileres asignados.</p>
    </ng-template>
  
    <div *ngIf="mensaje" class="mensaje" [style.color]="'red'">{{ mensaje }}</div>
  </div>
  

  <app-footer></app-footer>